* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  display: flex;
  height: 100vh;
}
div, img, .l {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* .lb {
  display: flex;
  align-items: center;
  justify-content: center;
} */